<html>
	<title>website</title>
	<body>
               	<p>
                   	<a href="/logout"> Log Out </a><br>
                        <a href="/showfavorites"> Favorites </a><br>
                        <a href="/genrecs"> Generate Recommendations </a><br>
                        <a href="/showmessages"> Show Messages </a><br>
			<a href="/"> Search for another movie </a>
                </p>

		<tbody>
			<tr>
				<td> title </td>
				<td> year released </td>
				<td> rating </td>
			</tr><br />
			{% for row in data %}
			<tr>
				<td> {{ row.title}} </td>
				<td> {{ row.director}} </td>
				<td> {{ row.year_released}} </td>
				<td> {{ row.rating}} </td>
				<td> <a href = "/addfavorites?action=post&favmovie={{ row.movie_id}}"> Add to Favorites </a></td>
			</tr><br />
			{% endfor %}
		</tbody>
	</body>
</html>
