<html>
<head>
<style>
#movies {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#movies td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#movies tr:nth-child(even){background-color: #f2f2f2;}

#movies tr:hover {background-color: #ddd;}

#movies th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
</style>
</head>
	<title>website</title>
	<body>
               	<p>
                   	<a href="/logout"> Log Out </a><br>
                        <a href="/showfavorites"> Favorites </a><br>
                        <a href="/genrecs"> Generate Recommendations </a><br>
                        <a href="/showrecs"> View Recommendations </a><br>
                        <a href="/conversations"> Conversations </a><br>
                        <a href="/messageform"> Send a Message </a><br>
			<a href="/"> Search for another movie </a>
                </p>
		<table id="movies">
			<tr>
				<th>Title</th>
				<th>Director</th>
				<th>Year Released</th>
				<th>IMDB Rating</th>
				<th>Favorite</th>
			</tr>
			{% for row in data %}
			<tr>
				<td> {{ row.title}} </td>
				<td> {{ row.director}} </td>
				<td> {{ row.year_released}} </td>
				<td> {{ row.rating}} </td>
				<td> <a href = "/addfavorites?action=post&favmovie={{ row.movie_id}}"> Add to Favorites </a></td>
			</tr>
			{% endfor %}
		</table>
	</body>
</html>
